## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.88,147.33,50.0,93,90,8.05,moderate rain
1,1,Hilo,US,19.73,-155.09,82.4,61,1,4.70,clear sky
2,2,Bambous Virieux,MU,-20.34,57.76,69.8,88,40,1.12,scattered clouds
3,3,Khatanga,RU,71.97,102.50,17.6,98,81,10.89,broken clouds
4,4,Nanakuli,US,21.39,-158.15,82.4,78,20,4.70,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,19.73,-155.09,82.40,61,1,4.70,clear sky
4,4,Nanakuli,US,21.39,-158.15,82.40,78,20,4.70,few clouds
8,8,Sarankhola,BD,22.31,89.79,79.65,89,93,3.33,overcast clouds
9,9,Georgetown,MY,5.41,100.34,78.80,94,20,3.36,few clouds
13,13,Hobyo,SO,5.35,48.53,79.00,84,50,17.45,moderate rain
14,14,Limbang,MY,4.75,115.00,77.00,94,75,4.70,broken clouds
16,16,Hua Hin,TH,12.57,99.96,78.66,85,100,6.71,light rain
21,21,Vanimo,PG,-2.67,141.30,77.90,87,52,6.42,broken clouds
22,22,Lorengau,PG,-2.02,147.27,81.84,75,28,7.72,scattered clouds
23,23,Broken Hill,AU,-31.95,141.43,77.00,25,79,14.99,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                225
City                   225
Country                224
Lat                    225
Lng                    225
Max Temp               225
Humidity               225
Cloudiness             225
Wind Speed             225
Current Description    225
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [8]:
clean_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,82.40,clear sky,19.73,-155.09,
4,Nanakuli,US,82.40,few clouds,21.39,-158.15,
8,Sarankhola,BD,79.65,overcast clouds,22.31,89.79,
9,Georgetown,MY,78.80,few clouds,5.41,100.34,
13,Hobyo,SO,79.00,moderate rain,5.35,48.53,
14,Limbang,MY,77.00,broken clouds,4.75,115.00,
16,Hua Hin,TH,78.66,light rain,12.57,99.96,
21,Vanimo,PG,77.90,broken clouds,-2.67,141.30,
22,Lorengau,PG,81.84,scattered clouds,-2.02,147.27,
23,Broken Hill,AU,77.00,broken clouds,-31.95,141.43,

In [10]:
# Set the parameters to search for a hotel in Paris.
#params = {
    #"radius": 5000,
    #"types": "lodging",
    #"key": g_key,
    #"location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
#hotels = requests.get(base_url, params=params).json()

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,82.40,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
4,Nanakuli,US,82.40,few clouds,21.39,-158.15,Camp Pālehua
8,Sarankhola,BD,79.65,overcast clouds,22.31,89.79,ইসা ষ্টোর
9,Georgetown,MY,78.80,few clouds,5.41,100.34,Cititel Penang
13,Hobyo,SO,79.00,moderate rain,5.35,48.53,Osmani Hotel
14,Limbang,MY,77.00,broken clouds,4.75,115.00,Purnama Hotel
16,Hua Hin,TH,78.66,light rain,12.57,99.96,InterContinental Hua Hin Resort
21,Vanimo,PG,77.90,broken clouds,-2.67,141.30,Vahmoneh Lodge Vanimo
22,Lorengau,PG,81.84,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel
23,Broken Hill,AU,77.00,broken clouds,-31.95,141.43,Daydream Motel & Cottages

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   224
Country                224
Max Temp               224
Current Description    224
Lat                    224
Lng                    224
Hotel Name             224
dtype: int64

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [34]:
#info_box_template

'\n<dl>\n<dt>Hotel Name</dt><dd>{Hotel Name}</dd>\n<dt>City</dt><dd>{City}</dd>\n<dt>Country</dt><dd>{Country}</dd>\n<dt>Max Temp</dt><dd>{Max Temp} °F</dd>\n</dl>\n'

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))